/* body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    margin: 0;
}

.header-section {
    background-color: #163e90;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    
}

.header-text {
    color: #4b5563;
    font-size: 14px;
}

.logo-section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.title-section {
    text-align: center;
    margin-top: 10px;
    margin-right: 500px;
}
.title {
    color: #3b82f6;
    font-size: 20px;
    font-weight: 600;
} */

body {
    
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-height {
    min-height: 00vh;
}

.bg-light {
    background-color: #f3f4f6;
}

.form-container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 30%;
    max-width: 1000px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header-section {

    background-color: #487ef2;
    text-align: center;
    padding: 10px 0;
}

/* .header-text {
    color: #4b5563;
    font-size: 14px;
} */

.logo-section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    gap: 10px;
}

.logo {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
}

.title-section {
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.title {
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}

/* .description {
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px;
} */

/* .description-text {
    color: #6b7280;
    font-size: 14px;
} */

.form-section {
    padding: 20px;
    padding-top: 30px;
}

.form-header {
    text-align: center;
    color: #4b5563;
    font-size: 20px;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 30px;
    margin-left: 30px;
    width: 85%;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px #3b82f6(59, 130, 246, 0.4);
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 30px;
}

.checkbox {
    margin-right: 5px;
}

.checkbox-label {
    color: #5d646e;
    font-size: 13px;
}

.label {
    display: block;
    color: #5d646e;
    font-size: 14px;
    margin-bottom: 5px;
}

.button-group {
    text-align: center;
}

.button {
    margin-top: 30px;
    width: 30%;
    padding: 10px;
    background-color: #487ef2;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #2563eb;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.4);
}
